*{
  margin: 0;
  padding: 0;
  } 

html,body{
  display: flex;
background-color: brown;
place-items: center;
height: 100%;
width: 100%;
margin: auto;
}

main {
  
  background-color: black;
   display: grid;
  grid-template-areas: 
  'a a a a a a b b'
  'a a a a a a b b'
  'c c c c d d d d'
  'c c c c e e e e'
  ;
  gap: 10px;
  height: 50%;
  width: 50%;
  margin: auto;
    }
main,div{
  padding: 2em;
  text-align: center;

}

.cell-a {
  background-color: #eb5020;
  grid-area: a;
}
.cell-b {
  background-color: #ffa401;
  grid-area: b;
}
.cell-c {
  background-color: #05aa42;
  grid-area: c;
}
.cell-d {
  background-color: #01aefd;
  grid-area: d;
  /* padding: 3em; */
}
.cell-e {
  background-color: #01aefd;
  grid-area: e;
}
